---
import Google from "./icons/Google.astro";
import Aws from "./icons/Aws.astro";
import Htb from "./icons/Htb.astro";
import Coderhouse from "./icons/Coderhouse.astro";
import Utn from "./icons/Utn.astro";
import Coursera from "./icons/Coursera.astro";
import Michigan from "./icons/Michigan.astro";

const TAGS = {
  GOOGLE: {
    name: "GCP",
    class: "bg-black text-white",
    icon: Google,
  },
  AMAZON: {
    name: "AWS",
    class: "bg-[#f7f7f7] text-black",
    icon: Aws,
  },
  HACKTHEBOX: {
    name: "HTB",
    class: "bg-[#2f2f2f] text-white",
    icon: Htb,
  },
  CODERHOUSE: {
    name: "Coderhouse",
    class: "bg-[#f7f7f7] text-black",
    icon: Coderhouse,
  },
  UTN: {
    name: "UTN",
    class: "bg-[#f7f7f7] text-black",
    icon: Utn,
  },
  COURSERA: {
    name: "Coursera",
    class: "bg-[#2A73A2] text-white",
    icon: Coursera,
  },
  MICHIGAN: {
    name: "Michigan",
    class: "bg-[#f7f7f7] text-black",
    icon: Michigan,
  },
};
const PROJECTS = [
  {
    title: "Google Cloud Essentials",
    issuer: [TAGS.GOOGLE],
    date: "1 Jan 2023",
    link: "https://www.cloudskillsboost.google/public_profiles/9b7d33b5-f2b7-4736-b5df-e4537f1f7f03/badges/3091080",
    image: "/webp_certs/GoogleCloudEssentials.webp",
    cl: "no-oculto",
  },
  {
    title: "Create and Manage Cloud Resources",
    issuer: [TAGS.GOOGLE],
    date: "3 Jan 2023",
    link: "https://www.cloudskillsboost.google/public_profiles/9b7d33b5-f2b7-4736-b5df-e4537f1f7f03/badges/3098272",
    image: "/webp_certs/CreateandManageCloudResources.webp",
    cl: "no-oculto",
  },
  {
    title: "Network Performance and Optimization",
    issuer: [TAGS.GOOGLE],
    date: "4 Jan 2023",
    link: "https://www.cloudskillsboost.google/public_profiles/9b7d33b5-f2b7-4736-b5df-e4537f1f7f03/badges/3102799",
    image: "/webp_certs/NetworkPerformanceOptimization.webp",
    cl: "no-oculto",
  },
  {
    title: "Set Up and Configure a Cloud Environment",
    issuer: [TAGS.GOOGLE],
    date: "5 Jan 2023",
    link: "https://www.cloudskillsboost.google/public_profiles/9b7d33b5-f2b7-4736-b5df-e4537f1f7f03/badges/3103636",
    image: "/webp_certs/SetupAndConfigureACloudEnviroment.webp",
    cl: "no-oculto",
  },
  {
    title: "Perform Foundational Infrastructure Tasks",
    issuer: [TAGS.GOOGLE],
    date: "5 Jan 2023",
    link: "https://www.cloudskillsboost.google/public_profiles/9b7d33b5-f2b7-4736-b5df-e4537f1f7f03/badges/3103704",
    image: "/webp_certs/PerformInfraestructureTasks.webp",
    cl: "no-oculto",
  },
  {
    title: "Build and Secure Networks",
    issuer: [TAGS.GOOGLE],
    date: "7 Jan 2023",
    link: "https://www.cloudskillsboost.google/public_profiles/9b7d33b5-f2b7-4736-b5df-e4537f1f7f03/badges/3111946",
    image: "/webp_certs/BuildAndSecureNetworks.webp",
    cl: "no-oculto",
  },
  {
    title: "Serverless Firebase Development",
    issuer: [TAGS.GOOGLE],
    date: "7 Jan 2023",
    link: "https://www.cloudskillsboost.google/public_profiles/9b7d33b5-f2b7-4736-b5df-e4537f1f7f03/badges/3112487",
    image: "/webp_certs/ServerlessFirebaseDevelopment.webp",
    cl: "hidden",
  },
  {
    title: "Serverless Cloud Run Development",
    issuer: [TAGS.GOOGLE],
    date: "7 Jan 2023",
    link: "https://www.cloudskillsboost.google/public_profiles/9b7d33b5-f2b7-4736-b5df-e4537f1f7f03/badges/3112739",
    image: "/webp_certs/ServerlessCloudRun.webp",
    cl: "hidden",
  },
  {
    title: "Baseline: Infrastructure",
    issuer: [TAGS.GOOGLE],
    date: "7 Jan 2023",
    link: "https://www.cloudskillsboost.google/public_profiles/9b7d33b5-f2b7-4736-b5df-e4537f1f7f03/badges/3112920",
    image: "/webp_certs/BaselineInfraestructure.webp",
    cl: "hidden",
  },
  {
    title: "Cloud Engineering",
    issuer: [TAGS.GOOGLE],
    date: "7 Jan 2023",
    link: "https://www.cloudskillsboost.google/public_profiles/9b7d33b5-f2b7-4736-b5df-e4537f1f7f03/badges/3112922",
    image: "/webp_certs/CloudEng.webp",
    cl: "no-oculto",
  },
  {
    title: "Build Apps & Websites with Firebase",
    issuer: [TAGS.GOOGLE],
    date: "7 Jan 2023",
    link: "https://www.cloudskillsboost.google/public_profiles/9b7d33b5-f2b7-4736-b5df-e4537f1f7f03/badges/3112928",
    image: "/webp_certs/BuildAppsAndWebsites.webp",
    cl: "hidden",
  },
  {
    title: "Diplomatura Web full stack con React JS",
    issuer: [TAGS.UTN],
    date: "16 Feb 2024",
    link: "https://media.licdn.com/dms/image/D4D2DAQE3kW3uQc80FQ/profile-treasury-document-images_1920/1/1708470629168?e=1709164800&v=beta&t=im60PkqrUM4X9lWG94tmwkCVkOWX01SyGaap02UFACM",
    image: "/webp_certs/FullStack.webp",
    cl: "no-oculto",
  },
  {
    title: "Experto Universitario en Ethical Hacking",
    issuer: [TAGS.UTN],
    date: "17 Nov 2023",
    link: "https://media.licdn.com/dms/image/D4D2DAQE366_xIF8Oyg/profile-treasury-document-images_1920/1/1708470882316?e=1709164800&v=beta&t=Ny96O6r3TlAfEoLQkXLmb30V7nA7qeQK4Sn3984LhIk",
    image: "/webp_certs/EthicalHacking.webp",
    cl: "no-oculto",
  },
  {
    title: "Diplomatura Django Framework",
    issuer: [TAGS.UTN],
    date: "14 Mar 2023",
    link: "https://media.licdn.com/dms/image/D4D2DAQF3CcWNIEk0Ig/profile-treasury-document-images_1920/1/1706689163030?e=1709164800&v=beta&t=cYJjS-kUOFw6Pl34gfQy1BR90TqAC926CAu0yi0VVMw",
    image: "/webp_certs/DiplomaturaDjango.webp",
    cl: "no-oculto",
  },
  {
    title: "Django Avanzado - En Producción",
    issuer: [TAGS.UTN],
    date: "14 Mar 2023",
    link: "https://media.licdn.com/dms/image/D4D2DAQGc9RgTlb12FA/profile-treasury-document-images_1920/1/1706689026768?e=1709164800&v=beta&t=xDnkU2QKp_HMwwvFSCfo5y0FJOxgh5ZCOe91R06WB5s",
    image: "/webp_certs/DjangoAvanzado.webp",
    cl: "hidden",
  },
  {
    title: "Django Intermedio - Diseño de Plataformas",
    issuer: [TAGS.UTN],
    date: "28 Dec 2022",
    link: "https://media.licdn.com/dms/image/D4D2DAQHD37bBHkBMpQ/profile-treasury-document-images_1920/1/1706689384487?e=1709164800&v=beta&t=sET0V4xyseEjCHW-WMpeuekyJfo0DQOGT-gcvOkTEdo",
    image: "/webp_certs/DjangoIntermedio.webp",
    cl: "hidden",
  },
  {
    title: "Django Inicial - Arquitectura",
    issuer: [TAGS.UTN],
    date: "11 Oct 2022",
    link: "https://media.licdn.com/dms/image/D4D2DAQFBK51Nf97XYQ/profile-treasury-document-images_1920/1/1706689740894?e=1709164800&v=beta&t=jmhYqs0nQ5PNlKBgYBPZ-c3iL3SluhGtlhBn_hPbbbk",
    image: "/webp_certs/DjangoInicial.webp",
    cl: "hidden",
  },
  {
    title: "Diplomatura Python",
    issuer: [TAGS.UTN],
    date: "15 Apr 2022",
    link: "https://media.licdn.com/dms/image/D4D2DAQEyr6JabhTo-Q/profile-treasury-document-images_1920/1/1706689887273?e=1709164800&v=beta&t=Hb5_ZWqzHsevwEYPZE3jtki7uD-TGOasjpoMrnc0VyY",
    image: "/webp_certs/DiploPython.webp",
    cl: "no-oculto",
  },
  {
    title: "Python 3 - Avanzado",
    issuer: [TAGS.UTN],
    date: "15 Apr 2022",
    link: "https://media.licdn.com/dms/image/D4D2DAQEK0WzqPdE8ow/profile-treasury-document-images_1920/1/1706689914746?e=1709164800&v=beta&t=b-yt31bN7hEeetEPeNAChjJAvTMIvz8wWvGIJVursZY",
    image: "/webp_certs/PythonAvanzado.webp",
    cl: "hidden",
  },
  {
    title: "Python 3 - Intermedio",
    issuer: [TAGS.UTN],
    date: "16 Feb 2022",
    link: "https://media.licdn.com/dms/image/D4D2DAQGOigc24OgSng/profile-treasury-document-images_1920/1/1706689941975?e=1709164800&v=beta&t=mCA6b7MFOTK1yW_LQGDcxy1BQ1BDWcYSXMUOpd3zGPk",
    image: "/webp_certs/PythonIntermedio.webp",
    cl: "hidden",
  },
  {
    title: "Python 3 - Inicial",
    issuer: [TAGS.UTN],
    date: "15 Dec 2021",
    link: "https://media.licdn.com/dms/image/D4D2DAQEbbF40J6tywg/profile-treasury-document-images_1920/1/1706689963277?e=1709164800&v=beta&t=FzWt4L2m9hRAwnQtcHGb4c7aljoso1ND0bEz338XbQA",
    image: "/webp_certs/PythonInicial.webp",
    cl: "hidden",
  },
  {
    title: "Redes de Datos - Avanzado",
    issuer: [TAGS.UTN],
    date: "4 Jun 2022",
    link: "https://media.licdn.com/dms/image/D4D2DAQF--NXbRRMVfQ/profile-treasury-document-images_1920/1/1706689772423?e=1709164800&v=beta&t=6dWNZj_mb96nt-TbZWjJZ3JozNZgSpRw3Zy1eEX4Vq0",
    image: "/webp_certs/RedesAvanzado.webp",
    cl: "no-oculto",
  },
  {
    title: "Redes de Datos - Inicial",
    issuer: [TAGS.UTN],
    date: "19 Oct 2021",
    link: "https://media.licdn.com/dms/image/D4D2DAQFGpq3UPsTYUA/profile-treasury-document-images_1920/1/1706689826725?e=1709164800&v=beta&t=AGAz1PVlXp360bWkR4SK9oVysSPXH8lJ0XgVHiGD_iU",
    image: "/webp_certs/RedesInicial.webp",
    cl: "hidden",
  },
  {
    title: "Configuration Management and the Cloud",
    issuer: [TAGS.COURSERA, TAGS.GOOGLE],
    date: "29 Jan 2024",
    link: "https://coursera.org/verify/54VYBRBEZNU5",
    image: "/webp_certs/GoogleCoursera1.webp",
    cl: "no-oculto",
  },
  {
    title: "Programming for Everybody",
    issuer: [TAGS.COURSERA, TAGS.MICHIGAN],
    date: "7 Mar 2021",
    link: "https://coursera.org/verify/JABBD5CQNSGA",
    image: "/webp_certs/MichiganCoursera.webp",
    cl: "hidden",
  },
  {
    title: "AWS Cloud Quest: Cloud Practitioner",
    issuer: [TAGS.AMAZON],
    date: "16 Sep 2023",
    link: "https://www.credly.com/badges/045e8502-1b39-4ca2-9303-11c74f827053/public_url",
    image: "/webp_certs/image.webp",
    cl: "no-oculto",
  },
  {
    title: "Academician",
    issuer: [TAGS.HACKTHEBOX],
    date: "13 Apr 2023",
    link: "https://academy.hackthebox.com/achievement/badge/6db79208-da0a-11ed-acfc-bea50ffe6cb4",
    image: "/webp_certs/academician.webp",
    cl: "no-oculto",
  },
  {
    title: "Data Analyst",
    issuer: [TAGS.CODERHOUSE],
    date: "17 Nov 2021",
    link: "https://cutt.ly/mY31JRM",
    image: "/webp_certs/coderhouse.webp",
    cl: "hidden",
  },
];
---

<div class="grid grid-cols-3 md:grid-cols-4 gap-6 lg:grid-cols-5">
  {
    PROJECTS.map(({ image, title, date, link, issuer, cl }) => (
      <article
        class={`magia flex flex-col space-x-0 space-y-8 group md:flex-row md:space-x-8 md:space-y-0 ${cl}`}
      >
        <div class="relative flex flex-col items-center col-span-6 row-span-5 gap-5 transition duration-500 ease-in-out transform shadow-xl overflow-clip rounded-xl sm:rounded-xl md:group-hover:-translate-y-1 md:group-hover:shadow-2xl lg:border lg:border-gray-800 lg:hover:border-gray-700 lg:hover:bg-gray-800/50">
          <a href={link}>
            <div>
              <img
                alt={title}
                class="object-cover object-top w-full h-56 transition duration-500 sm:h-full md:scale-110 md:group-hover:scale-105"
                loading="lazy"
                src={image}
              />
            </div>
            <div class="flex flex-col items-center p-4">
              <h3 class="text-sm font-bold text-center">{title}</h3>
              <p class="text-sm text-gray-500">{date}</p>
            </div>
            <div class="flex flex-wrap justify-center">
              <ul class="flex flex-col mb-2 gap-x-2 ">
                {issuer.map((tag) => (
                  <li class="mb-2">
                    <span
                      class={`flex  gap-x-2 rounded-full text-xs ${tag.class} py-1 px-2 `}
                    >
                      <tag.icon class="size-4 " />
                      {tag.name}
                    </span>
                  </li>
                ))}
              </ul>
            </div>
          </a>
        </div>
      </article>
    ))
  }
</div>
<div class="flex justify-center mt-6" id="show-more">
  <a href="/#certificados">
    <button class="show-button">Ver más</button>
  </a>
  <a href="/#certificados">
    <button class="hidden hide-button">Ver menos</button>
  </a>
</div>

<script>
  const showButton = document.querySelector(".show-button");
  const hideButton = document.querySelector(".hide-button");
  const articles = document.querySelectorAll(".magia");

  if (showButton) {
    showButton.addEventListener("click", () => {
      if (showButton) {
        showButton.classList.add("hidden");
      }
      if (hideButton) {
        hideButton.classList.remove("hidden");
      }

      articles.forEach((article) => {
        article.classList.remove("hidden");
      });
    });
  }

  if (hideButton) {
    hideButton.addEventListener("click", () => {
      if (hideButton) {
        hideButton.classList.add("hidden");
      }
      if (showButton) {
        showButton.classList.remove("hidden");
      }

      articles.forEach((article) => {
        if (
          !article.classList.contains("hidden") &&
          !article.classList.contains("no-oculto")
        ) {
          article.classList.add("hidden");
        }
      });
    });
  }
</script>
